<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"
            href="/assets/fonts/themify-icons-font/themify-icons/themify-icons.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap"
            rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="../assets/css/text.css">
        <link rel="stylesheet" href="../assets/css/style.css">
        <link rel="stylesheet" href="../assets/css/respon.css">

</head>
<body>

<div id="main" class="wrapper">
            <header class="header">
                <div class="left">
                    <!-- <img src="https://s.tmimgcdn.com/scr/1200x627/212900/spoon-and-fork-restaurant-logo_212966-original.png" alt=""> -->
                    <img src="../assets/images/Porch-Logo.png" alt="">
                </div>
                <i id="menu-mobile" class="menu-mobile ti-menu"></i>
                <ul id="menu">
                    <li><a href="./index.html" class="menu-item">Home</a></li>
                    <li><a href="" class="menu-item">About</a></li>
                    <li><a href="components/product.html" class="menu-item">Product</a></li>
                    <li><a href="components/blog.html" class="menu-item">Blog</a></li>
                    <li><a href="components/contact.html" class="menu-item">Contact</a></li>
                </ul>
                <div class="right">
                    <button class="btn-item login" onclick="handleLogin()"><i
                            class="ti-icon ti-user"></i>Login</button>
                </div>
            </header>
            <section id="container">
                <div class="bg">
                    <div class="text-bg">
                        <div class="blur-text">

                        </div>
                        <div class="text">
                            <h1 class="h1">Welcome to Restaurant</h1>
                            <h3 class="h3">Loves healthyfood</h3>
                        </div>
                    </div>
                </div>
                <div class="layout-about">
                    <div class="about-item about-left-text">
                        <h4 class="h4">About Fida Restaurant</h4>
                        <p class="p">
                            "Log - The layer of wood cut from a large tree trunk with concentric circular veins representing the life cycle, age and value of the tree"
                            <br/>
                            With a separate space for a la carte menu and daily buffet, each area offers a perfect culinary picture when diners can choose their own open garden or romantic interior. Conceptualized, designed by a team of experts from the American company Vittle & Vino and managed by PQC Group, The LOG restaurant brings a sophisticated, premium night with exquisite flavors. taste.
                        </p>  
                    </div>
                    <div class="about-item about-right-img">
                        <img src="../assets/images/lunch.png" alt="">
                    </div>
                </div>                
                </section>
                <div data-include-html="../components/footer/footer.html"></div>
            </div>
    <script src="../includeHtml.js"></script>
    <script src="../app.js"></script>

</body>
</html>