<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Restaurant Porcher</title>
        <link rel="stylesheet"
            href="/assets/fonts/themify-icons-font/themify-icons/themify-icons.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap"
            rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="/assets/css/text.css">
        <link rel="stylesheet" href="/assets/css/style.css">
    </head>
    <body>
        <div class="wrapper">
            <div data-include-html="/components/header/header.html"></div>
            <section id="container">
                <div class="bg">
                    <div class="text-bg">
                        <div class="blur-text">

                        </div>
                        <div class="text">

                            <h1 class="h1">Welcome to Restaurant</h1>
                            <h3 class="h3">Loves healthyfood</h3>
                        </div>
                    </div>
                </div>
                <div class="layout-about">
                    <div class="about-item about-left-text">
                        <h4 class="h4">About Fida Restaurant</h4>
                        <p class="p">
                            Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit.
                            <br/>
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Nihil necessitatibus, quam
                                unde dolor officia quia reiciendis est,
                                voluptatem, commodi delectus quos cumque qui!
                                Porro est sequi magnam fuga ullam asperiores
                                aperiam expedita eum, in recusandae deleniti ea
                                quisquam necessitatibus optio quaerat voluptatem
                                ipsa voluptatum consequatur sint!
                            </p>
                            <button>Read more</button>
                        </div>
                        <div class="about-item about-right-img">
                            <img src="/assets/images/lunch.png" alt="">
                        </div>
                    </div>
                    <div class="layout-list ourDish">
                        <div class="item-text">
                            <h3 class="h3">Our Popular Dishes</h3>
                            <div class="text-d">
                                <hr class="hr"> <span class="span">D</span>
                                <hr class="hr">
                            </div>
                            <p class="p">Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Nisi architecto molestiae quam
                                mollitia, animi a fugit illum laborum ratione
                                quo unde ex qui eum repudiandae! Quae rem quasi
                                dolorum fugit?</p>
                        </div>

                        <div class="form-dish-img">
                            <div class="form-dish-img-item">
                                <img src="/assets/images/dish2.png" alt="">
                                <div class="form-dish-text">
                                    <h6 class="h6">Spring pasta</h6>
                                    <div class="ti-icon">
                                        <i class="dish-icon ti-star"></i>
                                        <i class="dish-icon ti-star"></i>
                                        <i class="dish-icon ti-star"></i>
                                        <i class="dish-icon ti-star"></i>
                                        <i class="dish-icon ti-star"></i>
                                    </div>
                                    <div class="price">$120</div>
                                </div>
                            </div>
                            <div class="form-dish-img-item">
                                <img src="/assets/images/dish3.png" alt="">
                                <div class="form-dish-text">
                                    <h6 class="h6">Noodles</h6>
                                    <div class="ti-icon-dish">
                                        <i class="dish-icon ti-star"></i>
                                        <i class="dish-icon ti-star"></i>
                                        <i class="dish-icon ti-star"></i>
                                        <i class="dish-icon ti-star"></i>
                                        <i class="dish-icon ti-star"></i>
                                    </div>
                                    <div class="price">$125</div>
                                </div>
                            </div>
                            <div class="form-dish-img-item">
                                <img src="/assets/images/dish1.png" alt="">
                                <div class="form-dish-text">
                                    <h6 class="h6">Pasta</h6>
                                    <div class="ti-icon-dish">
                                        <i class="dish-icon ti-star"></i>
                                        <i class="dish-icon ti-star"></i>
                                        <i class="dish-icon ti-star"></i>
                                        <i class="dish-icon ti-star"></i>
                                        <i class="dish-icon ti-star"></i>
                                    </div>
                                    <div class="price">$135</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="layout-menu-home">
                        <ul class="menu-home item-menu-1">
                            <img src="/assets/images/tomato.png" alt="">
                            <img src="/assets/images/spinach.png" alt="">
                            <li><a href="" class="menu-home-item">All Item</a></li>
                            <li><a href="" class="menu-home-item">Breakfast</a></li>
                            <li><a href="" class="menu-home-item">Lunch</a></li>
                            <li><a href="" class="menu-home-item">Dinner</a></li>
                            <li><a href="" class="menu-home-item">Drink</a></li>
                            <img src="/assets/images/celery.png" alt="">
                        </ul>
                        <div class="grid-containner">
                            <div class="grid-item grid-item-1">
                                <img src="/assets/images/dish1.png" alt="">
                                <div class="grid-desc-item">
                                    <h6 class="h6">Fried Potatoes with Garlic</h6>
                                    <p class="p">Mushroom / Garlic / Veggies</p>
                                </div>
                                <p class="p">$100</p>
                            </div>
                            <div class="grid-item grid-item-1">
                                <img src="/assets/images/dish1.png" alt="">
                                <div class="grid-desc-item">
                                    <h6 class="h6">Fried Potatoes with Garlic</h6>
                                    <p class="p">Mushroom / Garlic / Veggies</p>
                                </div>
                                <p class="p">$100</p>
                            </div>
                            <div class="grid-item grid-item-1">
                                <img src="/assets/images/dish1.png" alt="">
                                <div class="grid-desc-item">
                                    <h6 class="h6">Fried Potatoes with Garlic</h6>
                                    <p class="p">Mushroom / Garlic / Veggies</p>
                                </div>
                                <p class="p">$100</p>
                            </div>
                            <div class="grid-item grid-item-1">
                                <img src="/assets/images/dish1.png" alt="">
                                <div class="grid-desc-item">
                                    <h6 class="h6">Fried Potatoes with Garlic</h6>
                                    <p class="p">Mushroom / Garlic / Veggies</p>
                                </div>
                                <p class="p">$100</p>
                            </div>
                            <div class="grid-item grid-item-1">
                                <img src="/assets/images/dish1.png" alt="">
                                <div class="grid-desc-item">
                                    <h6 class="h6">Fried Potatoes with Garlic</h6>
                                    <p class="p">Mushroom / Garlic / Veggies</p>
                                </div>
                                <p class="p">$100</p>
                            </div>
                            <div class="grid-item grid-item-1">
                                <img src="/assets/images/dish1.png" alt="">
                                <div class="grid-desc-item">
                                    <h6 class="h6">Fried Potatoes with Garlic</h6>
                                    <p class="p">Mushroom / Garlic / Veggies</p>
                                </div>
                                <p class="p">$100</p>
                            </div>
                        </div>
                    </div>

                    <div class="layout-list layout-gallary">
                        <div class="item-text">
                            <h3 class="h3">Our Gallary</h3>
                            <div class="text-d">
                                <hr class="hr"> <span class="span">D</span>
                                <hr class="hr">
                            </div>
                            <ul class="menu-home item-menu-2">
                                <li><a href="" class="menu-home-item">All Item</a></li>
                                <li><a href="" class="menu-home-item">Breakfast</a></li>
                                <li><a href="" class="menu-home-item">Lunch</a></li>
                                <li><a href="" class="menu-home-item">Dinner</a></li>
                                <li><a href="" class="menu-home-item">Drink</a></li>
                            </ul>
                            
                        </div>
                        <div class="item-gallary galary-img">
                                <img src="https://www.pikeplacemarket.org/wp-content/uploads/2022/01/Lowells_Restaurant-29_Spots_to_Enjoy_Lunch_at_the_Market-@thechoyalicious-rotated.jpg" alt="" class="galary-img-item">
                                <img src="https://www.discoveripswich.com.au/wp-content/uploads/Lunch-with-a-View_Dovetails.jpg" alt="" class="galary-img-item">
                                <img src="https://stationhousecafe.com/wp-content/uploads/2019/05/lunch800.jpg" alt="" class="galary-img-item">
                                <img src="https://wandervirtually.com/wp-content/uploads/2019/06/food-italy-9349-spaghetti-2000x1200-1600x1200.jpg" alt="" class="galary-img-item">
                                <img src="https://static.thehoneycombers.com/wp-content/uploads/sites/6/2022/09/lunch-in-central-orka-MAIN-IMAGE.jpeg" alt="" class="galary-img-item">
                                <img src="https://www.telegraph.co.uk/content/dam/food-and-drink/2022/03/10/CG-theater-covent-gardenpictures-15_trans_NvBQzQNjv4BqqVzuuqpFlyLIwiB6NTmJwfSVWeZ_vEN7c6bHu2jJnT8.jpg" alt="" class="galary-img-item">
                            </div> 
                    </div>

                    <div class="layout-list layout-reservation">
                         <div class="item-text">
                            <h3 class="h3">Make a Reservation</h3>
                            <div class="text-d">
                                <hr class="hr"> <span class="span">D</span>
                                <hr class="hr">
                            </div>
                            <p class="p">Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Nisi architecto molestiae quam
                                mollitia, animi a fugit illum laborum ratione
                                quo unde ex qui eum repudiandae! Quae rem quasi
                                dolorum fugit?</p>
                        </div>
                            <img src="https://immerse.com.au/wp-content/uploads/2018/06/Immerse-Food-Wine-Celler-Door-Immerse-Food-Wine-Celler-Door-0002.jpg" alt="">

                    </div>
                </section>
                <div data-include-html="/components/footer/footer.html"></div>
            </div>
            <script src="/includeHtml.js"></script>
            <script src="/components/header/header.js"></script>

        </body>
    </html>