<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
     <link rel="stylesheet"
            href="/assets/fonts/themify-icons-font/themify-icons/themify-icons.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap"
            rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="assets/css/reset.css">
        <link rel="stylesheet" href="../assets/css/text.css">
        <link rel="stylesheet" href="../assets/css/style.css">
        <link rel="stylesheet" href="../assets/css/respon.css">

</head>
<body>

        <div id="main" class="wrapper">
            <header class="header">
                <div class="left">
                    <!-- <img src="https://s.tmimgcdn.com/scr/1200x627/212900/spoon-and-fork-restaurant-logo_212966-original.png" alt=""> -->
                    <img src="../assets/images/Porch-Logo.png" alt="">
                </div>
                <i id="menu-mobile" class="menu-mobile ti-menu"></i>
                <ul id="menu">
                    <li><a href="../index.html" class="menu-item">Home</a></li>
                    <li><a href="./about.html" class="menu-item">About</a></li>
                    <li><a href="" class="menu-item">Product</a></li>
                    <li><a href="./blog.html" class="menu-item">Blog</a></li>
                    <li><a href="./contact.html" class="menu-item">Contact</a></li>
                </ul>
                <div class="right">
                    <a class="btn-item login" href="./login.html"><i class="fa-icon fa fa-light fa-user"></i>Login</a>
                    <!-- <button class="btn-item login" onclick="handleLogin()"><i
                            class="ti-icon ti-user"></i>Login</button> -->
                </div>
            </header>
            <section id="container">
                <div class="bg">
                    <div class="text-bg">
                        <div class="blur-text">

                        </div>
                        <div class="text">
                            <h1 class="h1">Welcome to Restaurant</h1>
                            <h3 class="h3">Loves healthyfood</h3>
                        </div>
                    </div>
                </div>
                
                    <div class="layout-list ourDish">
                    <div class="item-text">
                        <h3 class="h3">Our Popular Dishes</h3>
                        <div class="text-d">
                            <hr class="hr"> <span class="span">D</span>
                            <hr class="hr">
                        </div>
                        <p class="p">Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Nisi architecto molestiae quam
                            mollitia, animi a fugit illum laborum ratione
                            quo unde ex qui eum repudiandae</p>
                    </div>

                    <div class="form-dish-img-list">
                        <div class="form-dish-img">
                            <div class="form-dish-img-item">
                                <img src="../assets/images/dish2.png" alt="">
                                <div class="form-dish-text">
                                    <h6 class="h6">Spring pasta</h6>
                                    <div class="ti-icon">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>

                                    </div>
                                    <div class="price">$120</div>
                                </div>
                            </div>
                            <div class="form-dish-img-item">
                                <img src="../assets/images/dish3.png" alt="">
                                <div class="form-dish-text">
                                    <h6 class="h6">Noodles</h6>
                                    <div class="ti-icon-dish">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </div>
                                    <div class="price">$125</div>
                                </div>
                            </div>
                            <div class="form-dish-img-item">
                                <img src="../assets/images/dish1.png" alt="">
                                <div class="form-dish-text">
                                    <h6 class="h6">Pasta</h6>
                                    <div class="ti-icon-dish">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </div>
                                    <div class="price">$135</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                    <div class="layout-menu-home">
                        <ul class="menu-home item-menu-1">
                            <img src="../assets/images/tomato.png" alt="">
                            <img src="../assets/images/spinach.png" alt="">
                            <li><a href="" class="menu-home-item">All</a></li>
                            <li><a href="" class="menu-home-item">Breakfast</a></li>
                            <li><a href="" class="menu-home-item">Lunch</a></li>
                            <li><a href="" class="menu-home-item">Dinner</a></li>
                            <li><a href="" class="menu-home-item">Drink</a></li>
                            <img src="../assets/images/celery.png" alt="">
                        </ul>
                        <div class="wrapper-product">
                            <div class="grid-container" id="page">

                            </div>
                        </div>
                    </div>
                </section>
                <div data-include-html="../components/footer/footer.html"></div>
            </div>
    <script src="../product.js"></script>
    <script src="../includeHtml.js"></script>
    <script src="../app.js"></script>

</body>
</html>