.h1{
    font-size: 48px;
}
.h2{
    font-size: 42px;
}
.h3{
    font-size: 38px;
}
.h4{
    font-size: 30px;
}
.h5{
    font-size: 24px;
}
.h6{
    font-size: 18px;
}
.p{
    font-size: 15px;
}
.text-primary{
    font-size: 18px;
    font-weight: bold;
    color: rgb(0, 153, 255);
}
.text-title{
    font-size: 24px;
    font-weight: bold;
    color: rgb(0, 153, 255);
}